## <strong> 7. 데이터셋 결합 </strong>

In [ ]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

### <strong> 1차원 데이터(List, Series)의 연결
---

In [ ]:
# List 객체 생성
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]

# [+] numpy.concatenate()를 이용한 단순 연결
...

In [ ]:
# Series 객체 생성
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])

# [+] pd.concat()을 이용한 두 개의 Series 연결
...

### <strong> 2차원 데이터(DataFrame)의 연결 </strong>
---

In [ ]:
# DataFrame 생성 함수
def make_df(cols, ind):
    data = {c: [str(c) + str(i) for i in ind]
           for c in cols}

    return pd.DataFrame(data, ind)

print(make_df('ABC', [1, 2]))

In [ ]:
# DataFrame 객체 생성
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])

print(df1, '\n')
print(df2, '\n')

# pd.concat()을 이용한 DataFrame 연결
pd.concat([df1, df2])

In [ ]:
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])

print(df3, '\n')
print(df4, '\n')

# [+] DataFrame을 열 방향으로 연결
...

### <strong> ```pd.concat()``` 연결 옵션 </strong>

In [ ]:
# pandas는 기본적으로 인덱스 중복을 허용한다.

x = make_df('AB', [0, 1])
y = make_df('AB', [0, 1])

print(x, '\n')
print(y, '\n')

pd.concat([x, y])

In [ ]:
# [+] 연결 옵션: 인덱스 중복 에러 처리
...

In [ ]:
# [+] 연결 옵션: 기존 인덱스 무시 (인덱스 재생성
...

#### ```concat()```의 조인 옵션
서로 다른 열 집합을 가지는 DataFrame 객체를 연결
+ ```join='outer'```: 외부 조인(합집합, 디폴트 옵션)
+ ```join='inner'```: 내부 조인(교집합)

In [ ]:
# DataFrame 객체 생성
x = make_df('ABC', [1, 2])
y = make_df('BCD', [3, 4])

print(x, '\n')
print(y, '\n')

# [+] 외부 조인
...

In [ ]:
# [+] 내부 조인
...

### <strong> DataFrame의 병합 및 조인 </strong>
---
+ 일대일 조인
+ 다대일 조인
+ 다대다 조인

In [ ]:
# 직원 별 부서 정보에 대한 DataFrame
df1 = pd.DataFrame({
    'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']
})

# 직원 별 입사년도에 대한 DataFrame
df2 = pd.DataFrame({
    'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
    'hire_date': [2004, 2008, 2012, 2014]
})


print(df1, '\n')
print(df2)

In [ ]:
# 일대일 조인
df3 = pd.merge(df1, df2)
df3

In [ ]:
# 다대일 조인

# 그룹 별 관리자에 대한 DataFrame
df4 = pd.DataFrame({
    'group': ['Accounting', 'Engineering', 'HR'],
    'supervisor': ['Carly', 'Guido', 'Steve']
})

print(df3, '\n')
print(df4, '\n')

pd.merge(df3, df4)

In [ ]:
# 다대다 조인

# 그룹 별 요구역량에 대한 DataFrame
df5 = pd.DataFrame({
    'group': ['Accounting', 'Accounting',
              'Engineering', 'Engineering',
              'HR', 'HR'],
    'skills': ['math', 'spreadsheets', 'coding',
            'linux', 'spreadsheets', 'organization']
})

print(df1, '\n')
print(df5, '\n')

pd.merge(df1, df5)

#### ```pd.merge()``` 병합 옵션

In [ ]:
# 두 DataFrame에 공통 열('age') 추가
df1['age'] = pd.Series([20, 42, 37, 25])
df2['age'] = pd.Series([37, 20, 42, 25])

print(df1, '\n')
print(df2, '\n')

# [+] on 매개변수를 이용하여 `employee`를 병합 키로 사용
...

In [ ]:
# 직원 별 월급에 대한 DataFrame
df6 = pd.DataFrame({
    'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
    'salary': [70000, 80000, 120000, 90000]
})

print(df1, '\n')
print(df6, '\n')

# [+] left_on과 'right_on' 매개변수를 이용한 병합키 지정
pd.merge(
    df1, 
    df6, 
    left_on='employee', 
    right_on='name'
)

#### 인덱스를 이용한 병합

In [ ]:
df1a = df1.set_index('employee')
df2a = df2.set_index('employee')

print(df1a, '\n')
print(df2a, '\n')

# 인덱스를 이용한 병합
pd.merge(df1a, df2a, left_index=True, right_index=True)

#### ```merge()``` 조인 옵션

In [ ]:
df1 = make_df('AB', [0, 1])
df2 = make_df('AC', [0, 2])

print(df1, '\n')
print(df2, '\n')

pd.merge(df1, df2, how='right')